<!DOCTYPE html>
<html>

<head>
    <title>OCR Result</title>
    <link rel="stylesheet" href="../static/history.css">
</head>

<body>

    <div class="title">Epic Metal Machine &nbsp <p>&#129302</p>
    </div>
    <div class="Image">
        <div class="imageTitle">Your Transcription History</div>

    </div>

    <div class="entries">
        {% for entry in entries %}
        <div class="eachEntry">
            <div class="date">At {{ entry["date-time"] }}</div>
            <div class="text">{{ entry["text"]}}</div>
        </div>

        {% endfor %}

        <a href="{{ url_for('home') }}">
            <div class="upload">
                Upload Another Image
            </div>
        </a>

        <br><br>
    </div>



</body>

</html>