body {
    background-color: #fefae0;
    height: 150vh
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: #606c38;
    height: 20vh;
    margin-top: 20vh;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: #a5a58d;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10vh;
}

.l {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #888;
  }

.uploadHere {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: #606c38;
    margin: 6vh;
    margin-left: 10%;
    font-weight: bold;
    margin-right: 10%;
}

.uploadPic {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: 25vw;

}

input::file-selector-button {
    font-weight: bold;
    font-size: 3vh;
    background-color: #d4a373;
    color: #283618;
    padding: 2vh;
    border: none;
    border-radius: 12px;
    margin-top: 2vh;
    
  }

  input::file-selector-button:hover {
    background-color: #faedcd;
    cursor: pointer;
  }

  .sub {
    font-weight: bold;
    font-size: 3vh;
    background-color: #ddb892;
    color: #283618;
    padding: 2vh;
    border: none;
    border-radius: 12px;
    margin-top: 2vh;
  }

  .sub:hover {
    background-color: #faedcd;
    cursor: pointer;
  }

  .upload {
    height:6vh; 
    width:8vw;
    font-size: 4vh; 
    border-radius: 12px; 
    padding-left: 1vw; 
    padding: 2vh;
    background-color: #606c38; 
    border: solid #606c38; 
    margin-top:1vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .buttons {
    display: flex;
    justify-content: end;
    margin-left: 3vw;
    margin-top: 10vh;
    margin-right: 3vw;
  }

  a {
    margin: 2vh;
  }

  a:link {
    color:#FFFFFF; 
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:#FFFFFF; 
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #96a48b;
    background-color: transparent;
    text-decoration: none;
  }

  #startButton {
    font-weight: bold;
    font-size: 3vh;
    background-color: #ddb892;
    color: #283618;
    padding: 2vh;
    border: none;
    border-radius: 12px;
    margin-top: 2vh;
    width: 10vw;
    margin: 2vh;

  }

  #captureButton {
    font-weight: bold;
    font-size: 3vh;
    background-color: #ddb892;
    color: #283618;
    padding: 2vh;
    border: none;
    border-radius: 12px;
    margin-top: 2vh;
    width: 10vw;
    margin: 2vh;

  }

  .camera {
    display: flex;
    margin: 2vh;
    align-items: center;
    justify-content: space-between; 
    width: 30vw;
    margin-left: 35vw;
  }

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  video {
    margin: 2vh;
  }

  #startButton:hover {
    color: #96a48b;
    background-color: #ddb892;
    cursor: pointer;
  }

  #captureButton:hover {
    color: #96a48b;
    background-color: #ddb892;
    cursor: pointer;
  }

  #photoElement {
    margin-bottom: 10vh;
  }


